<!doctype html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="format-detection" content="telephone=no">
<% include assets/ejs/inc/_meta %>
<link rel="stylesheet" href="/assets/css/top.css">
<% include assets/ejs/inc/_log %>
</head>
<body id="top">
  <div class="body__bg">
    <div class="body__inner">
      <!-- ************************************************************
      //
      //  header
      //
      // ************************************************************ -->
      <% include assets/ejs/inc/_header %>

      <!-- ************************************************************
      //
      //  contentss
      //
      // ************************************************************ -->
      <div id="contents"></div>
      <!-- ************************************************************
      //
      //  footer
      //
      // ************************************************************ -->
      <% include assets/ejs/inc/_footer %>

      <!-- ************************************************************
      //
      //  loading
      //
      // ************************************************************ -->
      <% include assets/ejs/inc/_loading %>

    </div>
  </div>
<!-- ************************************************************
//
//  script
//
// ************************************************************ -->
<% include assets/ejs/inc/_script %>
<script type='text/javascript' src='/assets/js/top.js'></script>
<script>

</script>
</body>
</html>